html {
    background: url("../images/bg3.jpg");
    background-size: cover;
    background-repeat: repeat;
}
body {
    display: block;
    height: 100%;
    width: 1000px;
    margin: auto;
    font-size: 15px;
    padding-bottom: 5em;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
/* NAV BAR */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    position: sticky;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: #6F2DA8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/*//////*/
.container {
    width: 100%;
}
.intro {
    width: 80%;
    display: block;
    text-align: center;
    margin: 0.1em 1em 1em 2.55em; 
    padding: 1em 3em 1em 3em;
    background-color: #CCCCCC;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-radius: 10px;
    font-size: 20px;

}
footer {
    opacity: 10%;
}
  

li a:hover {
    background-color: #111;
}

header {
    width: 1000px;
    color: white;
    background: #666666;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 5px;
    padding: .5em;
    border-radius: 10px;
}


a:link, a:visited {
    color: #CCCCCC;
    text-decoration: none;
}

a:active, a:hover {
    color: #7852a9;
    background-color: antiquewhite;
}

.screen {
    height: 300px;
    width: 500px;
}

img {
    border: 10px solid white;
    border-radius: 10px; 
}